/* Base */
*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	padding: 15px 15px 50px;
	background-color: #eee;
	font-size: 18px;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

h1 {
	margin-top: 4px;
}

input,
select {
	font-size: 16px;
}

input[type="button"],
input[type="submit"],
button {
	padding: 4px 12px;
	box-shadow: 3px 3px 3px #666;
}

hr {
	margin: 30px 0;
}



// -------------------------------------------
/* Component */

.flex-btn-group {
	display: flex;
	flex-wrap: wrap;
	column-gap: 16px;
	row-gap: 20px;
	padding: 10px 10px 15px;

	&.column {
		flex-direction: column;
		align-items: flex-start;
	}
	
	&.border {
		border: 2px dotted #990;
	}
}


.form {
	margin: 30px 0;
	padding: 15px;
	border: 3px dashed blue;

	input[type="submit"] {
		margin-top: 15px;
	}
}

// 一列
.grid {
	margin-bottom: 10px;
}

.highlight {
	color: red;
	font-weight: bold;
}

.note {
	font-size: 1rem; // 16px
}

.box {
	margin: 30px 0;
	padding: 15px;
	border: 3px dashed rgb(232, 168, 18);
}


// -------------------------------------------
/* Utility */

// flex
.d-flex {
	display: flex;
}
.flex-column {
	flex-direction: column;
}
.justify-center {
	justify-content: center;
}
.justify-between {
	justify-content: space-between;
}
.align-items-start {
	align-items: flex-start;
}
.align-items-center {
	align-items: center;
}
.align-items-end {
	align-items: flex-end;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}


.cursor-pointer {
	cursor: pointer;
}


.white-space-pre {
	white-space: pre;
}

.white-space-pre-line {
	white-space: pre-line;
}


/* Utility for spacing */
.mb-5 {
	margin-bottom: 20px;
}
.mb-6 {
	margin-bottom: 24px;
}
.mb-7 {
	margin-bottom: 28px;
}
.mb-8 {
	margin-bottom: 32px;
}
.mb-9 {
	margin-bottom: 36px;
}